.App {

  background-color: #282c34;
  min-height: 100vh;

  flex-direction: column;
  color: white;
}
.mypage{
  background-color: darkolivegreen;

  min-height: 100vh;
}
.login{
  background-color: rgb(117, 57, 25);

  min-height: 100vh;
}
